<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buleqr.mapper.PunchCardMapper">
    <select id="queryLastPunch" resultType="com.buleqr.pojo.PunchCard">
        select max(create_time) createTime,creator_id creatorId from punch_card
        where creator_id = #{creatorId}
        and is_deleted = 0
    </select>
</mapper>